$background-color: #4747FF;
$highlight-color: #FFC2C2;

body {
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    background-color: $background-color;
    color: white;
}

a {
    text-decoration: none;
}

input[type="text"] {
    background-color: $background-color;
    color: white;
    padding: 10px;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none;
    //border: 1px solid black;
    //border-radius: 10px;

    &:focus {
        outline: none;
    }
}

input[type="submit"], button {
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    font-weight: 600;
    z-index: 100;

    &:hover {
        cursor: pointer;
    }

    a {
        color: white;
        &:visited {
            color: white;
        }
    }
}

.btn-blue {
    display: inline-block;
    background-color: $background-color;
    color: white !important;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 5px;
    }
}

#radio-container {
    display: block;
    margin: 0 auto;
}

#radio-content {
    display: inline-block;
    text-align: left;
}

table {
    border-collapse: collapse;
    display: inline-block;

}

td {
    &:not(.current-user) {
        border: 1px solid #ddd;
    }
    padding: 10px 50px 10px 10px;
    font-size: 20px;
}

th {
    border: 1px solid #ddd;
    border-bottom-color: darkgoldenrod;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

.high-score {
    background-color: #FFE75C;
    color: black;
    border-color: darkgoldenrod;
    font-weight: 500;

    td {
        border-color: darkgoldenrod;
    }

    &.current-user {
        background-color: #E0BF00;
        color: black;
    }
}

.current-user {
    background-color: #8585FF;
    color: black;
}

.error {
    display: inline-block;
    background-color: #FF4747;
    padding: 10px;
    border-radius: 10px;
}

::selection {
  background: $highlight-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $highlight-color; /* Gecko Browsers */
}