{% extends 'quiz/base.html' %}

{% block content %}
    <div class="text-center">
        {% load static %} <img src="{% static image_path %}" class="img-fluid rounded" alt="Lines" id="lines-image">
        <div id="percentages-box" class="m-auto mt-4 p-3">
            <h5>How others answered</h5>
            {% for choice in sorted_choices_set %}
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <p class="m-0 p-1">{{ choice.choice_text }}</p>
                    <div class="w-75 p-1">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ choice.crowd_percentage }}%;"
                                 aria-valuenow="{{ choice.crowd_percentage }}" aria-valuemin="0" aria-valuemax="100">
                                {{ choice.crowd_percentage }}%
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h4 class="mt-4">{{ current_question.question_text }}</h4>
        <form method="post">
            {% csrf_token %}
{#            {{ form }}#}
            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <ul class="list-unstyled">
                {% for choice in form.choices %}
                    <li class="fs-5"> {{ choice.tag }} {{ choice.choice_label }}</li>
                {% endfor %}
            </ul>

            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" name="next" value="Next" class="btn btn-primary btn-lg mt-2">
            </div>
        </form>
    </div>
{% endblock %}