{% extends 'quiz/base.html' %}

{% block content %}
    <h1 class="text-center">Visual Perception Quiz</h1>

    <div class="border border-dark p-4 mt-4">
    <p class="fw-bold">PLEASE READ before continuing:</p>
    <p>This quiz forms part of a research project on <i>visual perception</i> in Human-Computer Interaction.</p>
    <p>The quiz will test the accuracy of your visual perception compared to others.</p>
    <p>Each question has a right answer.</p>
    <p>There will be a box titled <i>"How others answered"</i> which you can use to inform your own answer.</p>
    </div>

    <form method="post" class="mt-5 text-center d-grid gap-2 col-6 mx-auto">
    <div class="form-group">
        {% csrf_token %}
        {{ form }}
    </div>
    <input type="submit" value="Continue" class="btn btn-primary btn-lg mt-1">
    </form>

{% endblock %}