{% if question_list %}
    <form action="/leaderboard/" method="get">
    {% csrf_token %}
    {% for question in question_list %}
        <h2>{{ question.question_text }}</h2>
        <ul>
            {% for choice in question.choice_set.all %}
                <input type="radio" name="question{{ forloop.parentloop.counter }}-choice" id="question{{ forloop.parentloop.counter }}-choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="question{{ forloop.parentloop.counter }}-choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </ul>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>

{% else %}
    <p>No quizzes are available.</p>
{% endif %}

{% if user_name %}
    <p>{{ user_name }}</p>
{% endif %}