{% extends 'quiz/base.html' %}

{% block content %}
<h2>{{ current_question.question_text }}</h2>

<form method="post">
    {% csrf_token %}

    <div id="radio-container">
        <div id="radio-content">
            {{ form }}
        </div>
    </div>

    {% if previous_question %}
        <div>
        <button type="submit" class="btn-white">
            <a href="../{{ previous_question.id }}">Previous</a>
        </button>
    {% endif %}
    {% if next_question %}
        <input type="submit" name="next" value="Next" class="btn btn-primary">
        </div>
    {% else %}
        <input type="submit" name="next" value="Submit" class="btn btn-primary">
    {% endif %}
</form>

<div id="progress-wrapper" class="mt-5">
    <div id="progress-bar" class="bg-primary">&nbsp;</div>
  <div id="progress-bar-message">Waiting for progress to start...</div>
</div>
{% endblock %}