{% extends 'quiz/base.html' %}

{% block content %}
<h2>{{ current_question.question_text }}</h2>

<form method="post">
    {% csrf_token %}

    <div id="radio-container">
        <div id="radio-content">
            {{ form }}
        </div>
    </div>

    {% if previous_question %}
        <div>
        <button type="submit" class="btn-white">
            <a href="../{{ previous_question.id }}">Previous</a>
        </button>
    {% endif %}
    {% if next_question %}
        <input type="submit" name="next" value="Next" class="btn btn-primary">
        </div>
    {% else %}
        <input type="submit" name="next" value="Submit" class="btn btn-primary">
    {% endif %}
</form>

<div id="progress-wrapper" class="mt-5">
<h5>Here's what others are saying</h5>

    <div class="container mt-4">
        <h6>Line A</h6>
        <div class="progress-bar-container">
            <div id="progress-bar-1" class="bg-primary progress-bar">&nbsp;</div>
        </div>
        <div id="progress-bar-1-message">Waiting for progress to start...</div>
    </div>

    <div class="container mt-4">
        <h6>Line B</h6>
        <div class="progress-bar-container">
            <div id="progress-bar-2" class="bg-primary progress-bar">&nbsp;</div>
        </div>
        <div id="progress-bar-2-message">Waiting for progress to start...</div>
    </div>
{% endblock %}