{% extends 'quiz/base.html' %}

{% block content %}
<h2>{{ current_question.question_text }}</h2>

<form method="post">
    {% csrf_token %}

    <div id="radio-container">
        <div id="radio-content">
            {{ form }}
        </div>
    </div>

    {% if previous_question %}
        <div>
        <button type="submit" class="btn-white">
            <a href="../{{ previous_question.id }}">Previous</a>
        </button>
    {% endif %}
    {% if next_question %}
        <input type="submit" name="next" value="Next" class="btn-white">
        </div>
    {% else %}
        <input type="submit" name="next" value="Submit" class="btn-white">
    {% endif %}
</form>
{% endblock %}